<form [formGroup]="changePassForm" (ngSubmit)="changePassword()" class="form">
    <div class="form-group">
        <label for="OldPassword">Old Password</label>
        <input formControlName="oldPassword" type="password" id="OldPassword" class="form-control">
    </div>
    <div class="alert alert-danger" *ngIf="OldPassword.touched && OldPassword.invalid">
        <div *ngIf="OldPassword.errors.required">Old password is required</div>
        <div *ngIf="OldPassword.errors.minlength">Password must be atleast 5 characters</div>
        <div *ngIf="OldPassword.errors.oldPasswordValidator">Old Password is incorrect</div>
    </div>
    <div formGroupName="newPass" > 
        <div class="form-group">
            <label for="NewPassword">New Password</label>
            <input formControlName="newPassword" type="password" id="NewPassword" class="form-control">
        </div>
        <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" id="ConfirmPassword" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="ConfirmPassword.touched && NewPass.errors.passwordMatchValidator">Password don't match</div>
    </div>
    <button class="btn btn-primary" [disabled]=this.changePassForm.invalid>Change Password</button>
    <br/>
    {{newPassword}}
</form>
