<navbar></navbar>
<router-outlet></router-outlet>

<!-- <my-followers></my-followers> -->

<!-- <zippy [shipping]="shipping">
    shipping details Content
</zippy> -->
<!-- <zippy [billing]="billing">
    Billing details content
</zippy> -->


<!-- <posts></posts> -->
    <!--<signup-form></signup-form><app-contact-form></app-contact-form>-->


<!--<app-panel>
    <ng-container class="Heading"><h3>Heading from root component</h3>
    <h2>
        This is Heading 2    
    </h2>
    </ng-container>
    <div class="body"><h4>Testing the body</h4>
    <p>testing para</p>
    </div>
</app-panel>-->
<!--<app-like [likeChange]="tweet.likeChange" [likeCount]="tweet.likeCount"></app-like>-->
<!--<app-course></app-course>-->
<!--<favorite [isActive]="isActive" (change)="OnFavoriteChange($event)"></favorite>
<h5>testing</h5>
<label style="color: darkolivegreen; font-family: 'Courier New', Courier, monospace;">{{text}}</label>
--><!--<h1>Angular</h1>

<authors></authors>
<test1></test1>
<app-course></app-course>-->